html,
body {
  margin: 0;
}
body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  font-family: sans-serif;
}

.completed {
  color: rgba(24, 24, 32, 0.541);
  text-decoration: line-through;
}
#container,#container2 {
  background-color: rgb(246, 250, 249);
  margin: 5% auto;
  width: 50%;
  box-shadow: 0 0 2% rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 100%;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  background-color: rgb(8, 174, 240);
  padding: 2%;
}
.fa-plus {
  float: right;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 2%;
}

input:focus {
  background-color: white;
  border: 1px solid rgb(197, 197, 221);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  background-color: #fff;
  line-height: 2rem;
  height: 2rem;
  color: #666;
}
li:nth-child(2n) {
  background-color: #f7f7f7;
}

span {
  background-color: red;
  color: white;
  width: 0;
  display: inline-block;
  text-align: center;
  margin-right: 2rem;
  transition: all ease 500ms;
}
li:hover span {
  width: 2rem;
}
